@using UfoGame.Cards.Components
@using UfoGame.Model
@using System.Diagnostics.CodeAnalysis
@using UfoGame.Model.Data
@inject TimelineData TimelineData
@inject Research Research
@inject Accounting Accounting
@inject MissionSite MissionSite
@inject PlayerScore PlayerScore
@inject ViewModel.RaiseMoneyPlayerAction RaiseMoney
@inject ViewModel.ResearchMoneyRaisingMethodsPlayerAction ResearchMoneyRaisingMethods
@inject ViewModel.ResearchAgentEffectivenessPlayerAction ResearchAgentEffectiveness
@inject ViewModel.ResearchAgentSurvivabilityPlayerAction ResearchAgentSurvivability
@inject ViewModel.ResearchTransportCapacityPlayerAction ResearchTransportCapacity
@inject ViewModel.ResearchAgentRecoverySpeedPlayerAction ResearchAgentRecoverySpeed
@inject ViewModel.DoNothingPlayerAction DoNothing

<Card Title="Actions">
    <CardDataRow Label="Current time" Value="TimelineData.CurrentTime" />
    <div class="row">
        <CardButton PlayerAction="RaiseMoney" />
        <CardButton PlayerAction="ResearchMoneyRaisingMethods" />
    </div>
    <div class="row">
        <CardButton PlayerAction="ResearchAgentEffectiveness" />
        <CardButton PlayerAction="ResearchAgentSurvivability" />
    </div>
    <div class="row">
        <CardButton PlayerAction="ResearchTransportCapacity" />
        <CardButton PlayerAction="ResearchAgentRecoverySpeed" />
    </div>
    <div class="row">
        <CardButton PlayerAction="DoNothing" />
    </div>
    <div class="row mt-2 @(WarningMessagePresent ? "visible" : "invisible") ">
        <div class="col @(PlayerScore.PlayerWon ? "text-success": "text-danger")">
            @WarningMessage()
        </div>
    </div>
</Card>

@code
{
    private bool WarningMessagePresent => PlayerScore.GameOver || MissionSite.AboutToExpire;

    private string WarningMessage()
    {
        if (PlayerScore.GameOver)
            return "GAME OVER! " 
                   + (PlayerScore.PlayerWon 
                       ? $"YOU WON! Score: {PlayerScore.Data.Value}. Turn: {TimelineData.CurrentTime}" 
                       : $"YOU LOST! Lasted until turn: {TimelineData.CurrentTime}.");
        else if (MissionSite.AboutToExpire)
            return $"If you don't launch mission now, you will lose {PlayerScore.IgnoreMissionScoreLoss} score for ignoring pending mission!";
        else
            return "If you don't launch mission now, you will lose 1000 score for ignoring pending mission!";
    }

}
