@using UfoGame.Cards.Components
@using UfoGame.Model
@using UfoGame.Model.Data
@inject FactionsData FactionsData
@inject PlayerScore PlayerScore

<Card Title="Faction score">
    @{
        var factions = FactionsData.Data
            .Where(faction => faction.Discovered)
            .ToList();
        factions.Add(new FactionData("Player", PlayerScore.Data.Value, 0, true));
        factions = factions.OrderByDescending(f => f.Score).ToList();
        foreach (var faction in factions)
        {
            <CardDataRow Label="@faction.Name" 
                         Value="faction.Score" 
                         CssClass="@(faction.Name == "Player" ? "text-success" : "text-danger")"/>
        }
        if (FactionsData.Data.Any(faction => !faction.Discovered))
        {
            <div class="row">
                <div class="col">More factions may appear here as you discover them!</div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col">All factions discovered! Now ensure their score is zero!</div>
            </div>
        }
    }
</Card>
