iconify-icon[icon="icon-park-solid:success"] {
    width: 1.3rem;
    position: relative; /* by default it is static, preventing "top" from working */
    top: -1px;
}

.fist-bump {
    width: 50px
}

/* lower the fists to make them align better */
.fist-bump iconify-icon {
    position: relative; /* by default it is static, preventing "top" from working */
    top: 1.8px;
}
