<div class="col px-0">
    <div class="btn-group" role="group">
        <button class="btn btn-primary" 
                @onclick="OnClickUp"
                disabled="@(!EnabledUp)">
            <span class="oi oi-chevron-top" aria-hidden="true"></span>
        </button>
        <button class="btn btn-primary" 
                @onclick="OnClickDown"
                disabled="@(!EnabledDown)">
            <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
        </button>
    </div>
</div>

@code
{
    [Parameter, EditorRequired]
    public EventCallback<MouseEventArgs> OnClickUp { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<MouseEventArgs> OnClickDown { get; set; }

    [Parameter]
    public bool EnabledUp { get; set; } = true;

    [Parameter]
    public bool EnabledDown { get; set; } = true;
}
