<div class="row">
    <input class="col mx-3 my-1" 
           type="range" min="@MinValue" max="@MaxValue" step="1"
           disabled="@(!Enabled)"
           value="@Value"
           @oninput="OnInputChanged"
           />
</div>

@code
{
    [Parameter, EditorRequired]
    public int MaxValue { get; set; } = 0;

    [Parameter]
    public int Value { get; set; } = 0;

    [Parameter]
    public int MinValue { get; set; } = 0;

    // This follows the "Binding with component parameters" pattern
    // https://learn.microsoft.com/en-us/aspnet/core/blazor/components/data-binding?view=aspnetcore-7.0#binding-with-component-parameters
    [Parameter]
    public int Input { get; set; }

    [Parameter]
    public EventCallback<int> InputChanged { get; set; }

    [Parameter]
    public bool Enabled { get; set; } = true;

    private async Task OnInputChanged(ChangeEventArgs e)
    {
        int value = int.Parse(e.Value?.ToString() ?? string.Empty);
        await InputChanged.InvokeAsync(value);
    }
}