@using UfoGame.Model
@using UfoGame.ViewModel
@inject ViewStateRefresh ViewStateRefresh

<div class="card px-0">
    <div class="card-body pt-2 pb-2">
        <h5 class="card-title text-start mb-0">@Title</h5>
        @ChildContent
    </div>
</div>

@code
{
    [Parameter, EditorRequired]
    public string Title { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ViewStateRefresh.Event += StateHasChanged;
    }
}
