@page "/"
@using UfoGame.Cards
@using UfoGame.Components
@using UfoGame.ViewModel
@inject ModalsState ModalsState

<PageTitle>HQ</PageTitle>

<h1>HQ</h1>

<div class="container-fluid text-center px-2">
    <div class="row">
        <PlayerActionsCard/>
        <MissionCard/>
        <AgentsCard/>
        <MoneyCard/>
        <ScoreCard/>
        <StatsCard/>
    </div>
</div>

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    private void ShowIntroModal()
    {
        var options = new ModalOptions
        { 
            UseCustomLayout = true 
        };

        var parameters = new ModalParameters();

        Modal.Show<IntroModal>(title: String.Empty, parameters, options);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (!ModalsState.IntroModalShown)
            ShowIntroModal();
    }

}