@using UfoGame.Cards.Components
@using UfoGame.Model
@using UfoGame.Model.Data
@inject ViewModel.HireAgentsPlayerAction HireAgents
@inject NavigationManager Navigation
@inject StaffData StaffData
@inject MissionDeployment MissionDeployment
@inject Agents Agents
@inject SickBay SickBay

<Card Title="Agents">
    <CardDataRow Label="Transport capacity" Value="MissionDeployment.Data.TransportCapacity"/>
    <CardDataRow Label="All agents" Value="Agents.AvailableAgents.Count"/>
    <CardDataRow Label="Ready agents" 
                 Value="Agents.AgentsSendableOnMissionCount"
                 ValueCssClass="text-success"/>
    <CardDataRow Label="Recovering agents" 
                 Value="Agents.AgentsInRecoveryCount"
                 ValueCssClass="text-danger" />
    <CardDataRow Label="Agent recovery speed" Value="SickBay.Data.AgentRecoverySpeed"/>
    <CardDataRow Label="Agent effectiveness" Value="StaffData.AgentEffectiveness"/>
    <CardDataRow Label="Agent survivability" Value="StaffData.AgentSurvivability"/>
    <CardButtonWithRangeInput PlayerAction="HireAgents"/>
    <div class="row align-items-center">
        <div class="col">
            <button class="btn btn-primary"
                    style="width: 300px"
                    @onclick="@(() => Navigation.NavigateTo("/deployment"))">
                Go to mission deployment
            </button>
        </div>
    </div>
</Card>