@using UfoGame.Layout.Components
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <NavBar>
        @if (Navigation.Uri.EndsWith("/deployment"))
        {
            <DeploymentNavBar/>
        }
        else
        {
            <HQNavBar/>
        }
    </NavBar>
    <main>
        <article class="content px-2">
            @Body
        </article>
    </main>
</div>