.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.page {
    /* 
        Required to avoid fixed navbar overlapping the page, per:
        https://getbootstrap.com/docs/5.3/components/navbar/#placement
        
        64px is the height of the navbar with stats, as measured with Chrome dev tools.
        40px is the height of the navbar with buttons, as measured with Chrome dev tools.
        64px+30.4px = 94.4px

        Note there is additional padding-top in app.css .content
        which applies to <article/> in MainLayout.css
    */
    padding-top: 94.4px;
}

/* @media (min-width: 641px) { */
/*     .page { */
/*         flex-direction: row; */
/*     } */
/* */
/*     article { */
/*         padding-left: 2rem !important; */
/*         padding-right: 1.5rem !important; */
/*     } */
/* } */
