@using UfoGame.Layout.Components
@using UfoGame.Model
@using UfoGame.Model.Data
@using UfoGame.ViewModel
@inject TimelineData TimelineData
@inject Accounting Accounting
@inject StaffData StaffData
@inject Agents Agents
@inject MissionSite MissionSite
@inject PlayerScore PlayerScore
@inject NavigationManager Navigation

<div class="fixed-top bg-body-tertiary">
    <div class="top-row ps-2 navbar bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            @ChildContent
        </div>
    </div>
    <nav class="nav nav-pills nav-fill">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <span class="oi oi-globe" aria-hidden="true"></span>
        </NavLink>
        <NavLink class="nav-link" href="/deployment">
            <span class="oi oi-random" aria-hidden="true"></span>
        </NavLink>
        <NavLink class="nav-link" href="/mission">
            <span class="oi oi-target" aria-hidden="true"></span>
        </NavLink>
        <NavLink class="nav-link" href="/manufacturing">
            <span class="oi oi-wrench" aria-hidden="true"></span>
        </NavLink>
        <NavLink class="nav-link" href="/research">
            <span class="oi oi-beaker" aria-hidden="true"></span>
        </NavLink>
        <NavLink class="nav-link" href="/archive">
            <span class="oi oi-book" aria-hidden="true"></span>
        </NavLink>
        <NavLink class="nav-link" href="/charts">
            <span class="oi oi-bar-chart" aria-hidden="true"></span>
        </NavLink>
        <NavLink class="nav-link" href="/settings">
            <span class="oi oi-cog" aria-hidden="true"></span>
        </NavLink>
    </nav>
</div>

@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
