@using UfoGame.ViewModel
<div class="row align-items-center">
    <CardButton PlayerAction="_playerActionOnButton" CssClass="col-8 ms-3"/>
    <CardUpDownArrows OnClickUp="PlayerAction.IncrementInput"
                      OnClickDown="PlayerAction.DecrementInput"
                      EnabledUp="PlayerAction.CanIncrementInput"
                      EnabledDown="PlayerAction.CanDecrementInput" />
</div>
<CardInput @bind-Input="PlayerAction.Input"
           Value="PlayerAction.Input"
           MaxValue="PlayerAction.InputMax()"
           MinValue="PlayerAction.InputMin()"
           Enabled="PlayerAction.CanSetRangeInput" />

@code
{
    #nullable disable
    [Parameter, EditorRequired]
    public IPlayerActionOnRangeInput PlayerAction { get; set; } 
    #nullable enable

    #nullable disable
    private IPlayerActionOnButton _playerActionOnButton;
    #nullable enable

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _playerActionOnButton = new PlayerActionOnButtonFromRangeInput(PlayerAction);
    }
}
