@using UfoGame.Cards.Components
@using UfoGame.Model
@using UfoGame.Model.Data
@using UfoGame.ViewModel
@inject ViewStateRefresh ViewStateRefresh
@inject SickBay SickBay
@inject Agents Agents
@inject MissionSite MissionSite

@* turned-off-to-do use SASS variables (or maybe just CSS variables is enough?) to replace py-1, px-2
               https://getbootstrap.com/docs/5.3/components/accordion/#sass-variables
               https://getbootstrap.com/docs/5.3/customize/css-variables/
               https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties *@
<div class="list-group-item container py-1 px-2">
    <div class="row">
        <div class="col">
            @if (Log.Details != null)
            {
                @* Show the "i" button in upper-right corner that expands the details view when clicked. *@
                <div class="float-end ms-1">
                    <button class="btn btn-secondary py-0" type="button"
                            data-bs-toggle="collapse" data-bs-target="#eventDetails_@Index">
                        i
                    </button>
                </div>
            }
            @Log.Summary
            @* @Index Agent 0123456789 0123456789 suffered 123 damage from enemy 01234567890123456789. Agent is incapacitated. *@
        </div>
    </div>
    @if (Log.Details != null)
    {
        @* The details view that gets expanded when the "i" button in upper-right corner is clicked. *@
        <div class="row collapse px-0" id="eventDetails_@Index">
            <div class="col">
                @Log.Details
                @* Details of item @Index Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut *@
                @* labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco *@
            </div>
        </div>
    }
</div>

@code 
{
    [Parameter, EditorRequired]
    public int Index { get; set; }

    #nullable disable
    [Parameter, EditorRequired]
    public MissionEventLogData Log { get; set; }
    #nullable enable
}
